body {
    text-align: center;
    font-family: "Roboto";
    margin-top: 100px;
    background-color: red;
}

body div {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

svg {
    background-color: #90BFE8;
}